body {
	background-color: #E67E22;
	padding-top: 70px;
	margin-top: -50px;
}

.solve {
	font-family: 'Arvo', serif;
	font-weight: bold;
	font-size: 42pt;
}

.sarcasm {
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 48pt;
}

.mc-field-group {
	padding: 20px;
}

#mce-EMAIL {
	font-family: 'Arvo', serif;
	color: black;
	font-size: 14pt;
	background-color: #E67E22;
	border-color: white;
	border-radius: 5px;
	height: 45px;
	width: 350px;
	text-indent: 8px;
}

#mce-MMERGE6 {
	font-family: 'Arvo', serif;
	color: black;
	font-size: 14pt;
	background-color: #E67E22;
	border-color: #D8D8D8;
	height: 45px;
	width: 350px;
}

#mc-embedded-subscribe {
	margin: 10px;
	height: 30px;
	width: 200px;
	font-family: 'Arvo', serif;
	border-color: black;
	background-color: white;
	font-size: 16px;
}

#logo {
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 20px;
}

iframe {
	display: block;
	margin: auto;
}

.clear {
	margin: auto;
}


#mc_embedded_subscribe {
	display: block;
	margin: auto;
}

#bottom {
	margin: auto;
}

@media (min-width: 992px) {
	#proto {
		margin-top: -200px;
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    black;
}